.main-bg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  src: url('../public/img/mainbg.jpg');
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.tmpContent {
  color: white;
  width: 80%;
  border-radius: 16px;
  background-color: rgb(97, 97, 97);
  margin: auto;
  padding: 20px;
}

h6.red {
  color: red;
}

.popUpBox {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  border : 1px solid rgba(0, 0, 0, .1);
  margin-top: 20px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
}

.productCard {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.detailCut {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 320px;
  width: 100%;
  object-fit: cover;
}

/* default */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
